.nav {
	display: flex;
	flex-flow: row wrap;
	
	li {
		line-height: 55px;
		padding: 0 13px;
	}
}

.main-menu {
	height: 56px;
	width: 100%;
	background: rgb(14,28,41);
	background: linear-gradient(0deg, rgba(14, 28, 41, 1) 0%, rgba(10, 11, 16, 1) 100%);
	border-bottom: 1px solid #081324;
	position: relative;
	color: #b6d8e1;
	font-weight: bold;
	text-transform: uppercase;

	&:after {
		border-bottom: 1px solid #232d36;
		height: 1px;
		width: 100%;
		content: '';
		position: absolute;
		bottom: 0;
	}

	.nav li {
		border-left: 1px solid #0d1627;
		border-right: 1px solid #232d36;
	}
}

.secondary-menu {
	background: #0a0b0f;
	height: 42px;
	border-bottom: 2px solid #000005;
	position: relative;
	color: #5a7789;
	font-weight: bold;
	text-transform: uppercase;

	&:after {
		border-bottom: 1px solid #1a1b20;
		height: 1px;
		width: 100%;
		content: '';
		position: absolute;
		bottom: 0;
	}

	.nav {
		margin-left: 56px;
	}

	.nav li {
		font-size: 14px;
		line-height: 40px;
	}
}


.main-background {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;

	video {
		position: fixed;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;	
	}
}


