.nav {
	display: flex;
	flex-flow: row wrap;	

	li {
		transition: .1s ease;
		font-weight: 500;
		line-height: 51px;
		padding: 0 22px;
		position: relative;

		&:before,
		&:after {
			transition: inherit;
		}

		&:before {
			content: '';
			position: absolute;
			bottom: -1px;
			height: 2px;
			background: transparent;
			width: calc(100% + 22px);
			left: -11px;
			z-index: 1;
		}

		&:hover {
			border-color: #409bf6;

			&:before {
				background: linear-gradient(90deg, rgba(64,155,246,0) 0%, #409bf6 25%, #409bf6 50%, #409bf6 75%, rgba(64,155,246,0) 100%);
			}
		}
	}
}

.main-menu {
	height: 56px;
	width: 100%;
	background: rgb(14,28,41);
	background: linear-gradient(0deg, rgba(#142135, .9) 0%, rgba(#0f1423, .9) 100%);
	border-bottom: 1px solid #050b0f;
	position: relative;
	color: #9aebff;
	font-weight: bold;
	text-transform: uppercase;
	backdrop-filter: blur(3px);

	&:after {
		border-bottom: 2px solid #18384e;
		height: 1px;
		width: 100%;
		content: '';
		position: absolute;
		bottom: 0;
	}

	.nav {
		border-top: 2px solid #1c3a58;

		&:before {
			position: absolute;
			content: '';
			background: #000;
			width: 100%;
			height: 1px;
			left: 0;
			top: 0;
			bottom: auto;
			z-index: 1;
		}
	}

	.nav li {
		cursor: pointer;
		border-right: 2px solid #1c3a58;

		&:hover {
			box-shadow: 0 12px 25px #144791;
			background: linear-gradient(to bottom, rgba(#144791, .15) 0%, rgba(#144791, .15) 9%, rgba(#144791, .75) 100%);
			color: #FFF;

			border-top-color: #21517d;
			border-right-color: #21517d;
			border-left-color: #21517d;

			&:before {
				border-color: #71dfff;
			}
		}
	}
}

.secondary-menu {
	background: rgba(#0a0b0f, .9);
	height: 46px;
	border-bottom: 2px solid #000005;
	position: relative;
	color: #47849e;
	font-weight: bold;
	text-transform: uppercase;
	backdrop-filter: blur(3px);

	&:after {
		border-bottom: 2px solid #13283a;
		height: 1px;
		width: 100%;
		content: '';
		position: absolute;
		bottom: 0;
	}

	.nav {
		margin-left: 56px;
	}

	.nav li {
		font-size: 13px;
		line-height: 44px;
		position: relative;
		font-weight: 500;
		cursor: pointer;

		&:hover {

			color: #FFF;
		}

		&:before {
			bottom: 0;
		}

		&:after {
			height: 20px;
			background: #152535;
			width: 2px;
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

// .main-background {
// 	width: 100%;
// 	height: 100%;
// 	position: relative;
// 	top: 0;
// 	left: 0;

// 	video {
// 		position: fixed;
// 		right: 0;
// 		bottom: 0;
// 		min-width: 100%;
// 		min-height: 100%;	
// 	}
// }


