$color-primary: lighten(#080e1a, 10);

.portraits {
	max-width: 1024px;

	&-list {
		display: flex;
		flex-flow: row wrap;
	}

	&-item {
		flex-basis: calc(100% / 6 - 10px);
		margin-bottom: 30px;
		flex-grow: 0;
		flex-shrink: 0;
	}

	&-container {
		position: relative;
		width: 150px;
		height: 200px;
	}

	&-inner {
		font-family: sans-serif;
		position: relative;
		width: 100%;
		height: 100%;
		background: rgba($color-primary, .55);
		padding: 2px;

		&:before {
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $color-primary;
			opacity: .75;
			backdrop-filter: blur(3px);

		}

		h4 {
			margin: 0;
			padding: 0 15px;

			height: 50px; // Max limit
			display: flex;
			align-items: center;
		}
	}

	&-frame {
		backdrop-filter: blur(3px);
		position: relative;
		height: 100%;
		border: 1px solid #040404;
		border-radius: 2px;
	}

	&-border {
		height: 100%;
		background: rgba(#080e1a, .85);
		backdrop-filter: blur(3px);
		border: 1px solid #225c84;
		border-radius: 2px;

		text-align: center;
		color: #9aebff;
			position: relative;

		&:before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			padding: 3px;
			border: 2px solid #1c2848;
			top: 0;
			left: 0;
		}

		&:after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			padding: 3px;
			border: 1px solid #040404;
			top: 0;
			left: 0;
		}
	}

	&-content {

	}

	&-thumbnail {
		height: 130px;
		width: 130px;
		display: block;
		position: relative;
		margin: 5px auto;
		border: 1px solid #0e253b;
		box-shadow: 0 -2px 3px -1px #000;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;	
		}
	}
}

.frame-outer {
	position: absolute;
	width: 100%;
	height: 100%;
}

.frame {
	width: 60px;
	height: 2px;
	position: absolute;

	background: rgba($color-primary, .55);
	backdrop-filter: blur(3px);
	//box-shadow: 0 0 3px 0 #000;

	// Second bracket
	&:before {
		width: 60px;
		height: 2px;
		position: absolute;
		transform: rotate(90deg);
		content: '';

		top: 31px;
		left: -31px;

		background: rgba($color-primary, .55);
		backdrop-filter: blur(3px);
	}

	&:after {
		content: '';
		top: 0;
		position: absolute;
		top: 0px;
		left: -2px;

		border-style: solid;
		border-width: 0 0 2px 2px;
		border-color: transparent transparent rgba($color-primary, .55) transparent;
	}

	&:before,
	&:after {
		content: '';	
	}

	&.frame-top-left {
		top: -2px;
		left: 0;

		&:before {
			
		}

		&:after {

		}
	}

	// Top right angle
	&.frame-top-right {
		top: -2px;
		right: 0;

		&:before {
			right: -31px;
			left: auto;
		}

		&:after {
			border-width: 2px 0 0 2px;
			border-color: transparent transparent transparent rgba($color-primary, .55);

			right: -2px;
			top: 0;
			left: auto;
		}
	}
	

	// Bottom left angle
	&.frame-bottom-left {
		bottom: -2px;
		left: 0;

		&:before {
			bottom: 31px;
			top: auto;
		}

		&:after {
			border-width: 0 2px 2px 0;
			border-color: transparent rgba($color-primary, .55) transparent transparent;

			top: 0px;
			left: -2px;
		}
	}

	// Bottom right angle
	&.frame-bottom-right {
		bottom: -2px;
		right: 0;

		&:before {
			right: -31px;
			top: -31px;
			left: auto;
		}

		&:after {
			border-width: 2px 2px 0 0;
			border-color: rgba($color-primary, .55) transparent transparent transparent;

			bottom: 0px;
			right: -2px;
			left: auto;
			top: auto;
		}
	}
}